*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-box{
    display: flex;
    gap: 3vw;
    margin-left: 1.5vw;

}

.img-box img{
    height: 50vh;
    width: 30vw;
}

.box-img-1,.box-img-2,.box-img-3{
    height: 50vh;
    width: 30vw;
    overflow: hidden;
}
.box-img-1 img,
.box-img-2 img,
.box-img-3 img{
    transition: transform 2s ease;
    transform-origin: 50% 50%;
    width: 100%;
}
.box-img-1 img:hover,
.box-img-2 img:hover,
.box-img-3 img:hover{
    transform: scale(1.9);
}